apache-airflow==2.10.1
pre-commit~=3.7.0
setuptools~=71.1.0
pytest~=8.2.0
coverage~=7.5.0
pytest-mock~=3.14.0
requests~=2.31.0
moto~=5.0.6
sure~=2.0.1
httpretty~=1.1.4
build~=1.2.1
twine~=5.1.0
semver~=3.0.2
